<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
</head>
<body class="flex flex-col items-center justify-center h-screen">

    <div class="mx-auto my-auto text-center">
      <p class="my-8">접근 권한이 없습니다.</p>
      <a href="http://localhost:8080/" class="btn btn-success mx-2 w-24">돌아가기</a>
    </div>

</body>
</html>