<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <title>Main for Driver</title>
</head>

<body class="flex flex-col items-center justify-center h-screen">

<div class="mx-auto my-auto text-center">
    <p>driver1 님 반갑습니다.</p> <!-- 하드 코딩 된 부분 수정하기  -->
    <a href="/organization" class="btn btn-success m-4 w-36">그룹 목록</a>
</div>

</body>
</html>