<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
</head>
<body class="flex flex-col items-center justify-center h-screen">

<nav class="navbar w-screen justify-center bg-green-900">
    <span class="text-bold text-xl text-white">통해요!</span>
</nav>
    <div class="mx-auto my-auto text-center">
        <p class="my-8">역할을 선택해주세요.</p>
        <a href="" class="btn btn-success mx-2 w-24">관리자</a>
        <a href="" class="btn btn-success mx-2 w-24">기사</a>
        <a href="" class="btn btn-success mx-2 w-24">일반</a>
    </div>
</body>
</html>