<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <title>통해요!</title>
</head>

<body class="flex flex-col items-center justify-center h-screen">

<nav class="navbar w-screen justify-center bg-green-900">
    <span class="text-bold text-xl text-white">통해요!</span>
</nav>
    <div class="mx-auto my-auto text-center">
        <p class="my-8">역할을 선택해주세요.</p>
        <a onclick="login('manager1')" class="btn btn-success mx-2 w-24">관리자</a>
        <a onclick="login('driver1')" class="btn btn-success mx-2 w-24">기사</a>
        <a onclick="login('yuri')" class="btn btn-success mx-2 w-24">일반</a>
    </div>
<script type="text/javascript">
    function login(member){
        axios.post('http://localhost:8080/login', {
            name: member, // 1: 관리자, 2:기사, 3:일반
        })
            .then(response => {
                window.location.href = response.data;
            })
            .catch(error => {
                console.error('POST 요청 오류:', error);
            });
    }
</script>
</body>
</html>